<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>board</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <h1 class="header">掲示板</h1>
      <% if logged_in? %>
        <%= link_to "ログアウト", logout_path, method: :delete %>
      <% else %>
        <%= link_to "ログイン", login_path %>
        <%= link_to "会員登録", signup_path %>
      <% end %>
    </header>
    <%= yield %>
    <footer>
      <p>&copy; 2024 掲示板サイト</p>
    </footer>
  </body>
</html>
